#topics {
    display: inherit;
    background-color: #ffe9ba;
    text-align: center;
}
.topics {
    font-size: 54px;
    color:#211263;
    padding-top: 100px;
    font-family: 'Bitter','メイリオ',Meiryo,'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro W3',sans-serif;
}
.topics span {
    display: block;
    font-size: 16px;
    margin-bottom: 60px;
}
.topics_content {
    max-width: 992px;
    margin: auto;
    padding: 0px 0px 60px;
}
.topics_card {
    float: left;
    background-color: #fff;
    width: 30%;
    margin: 1.65%;
    list-style: none;
    height: 480px;
}
.topics_card_hd {
    padding: 10px 20px 5px;
    text-align: left;
}
.topics_card_important {
    float: right;
    font-size: 12px;
    margin-top: 3px;
    padding:0px 4px;
    color:#fff;
    background: #ff2c2c;
}
.img_video {
    margin: 0 20px;
}
.img_video img{
    width: 100%;
}
.center {
    clear: both;
}
.topics_text {
    font-size: 14px;
    padding:0px 20px 0px;
    text-align: left;
}
.topics_text span {
    display: block;
}
.more {
    display: inline-block;
    font-size: 24px;
    margin: 30px auto 120px;
    padding: 1% 8%;
    border-radius: 40px;
    border: solid 2px #211263;
    cursor: pointer;
}
.more::before {
    content: '';
    width: 26px;
    height: 26px;
    background: url(../img/plus_topics.png) left center no-repeat;
    display: inline-block;
    vertical-align: -4px;
    margin-right: 10px;
}
.more:hover {
    background-color: #3870cf;
    border-color: #3870cf;
    color: #fff;
    transition: background-color .3s ease;
}
.more:hover::before {
    background-image: url(../img/plus_new.png);
}

@media only screen and (max-width: 990px) {
.topics_card {
    width: 46.5%;
}
}

@media only screen and (max-width: 760px) {
.topics_card {
    width: 96.5%;
    height: auto;
}
.topics_text {
    padding-bottom: 30px;
}
}